aiofiles
aiogram>=3.0.0
cachetools
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
asyncpg
attrs
certifi
charset-normalizer
frozenlist
greenlet
idna
loguru
magic-filter
multidict
Pillow>=10.0.0
propcache
pydantic
pydantic_core
python-dotenv
requests
SQLAlchemy>=2.0.0
typing_extensions
urllib3
yarl
openpyxl>=3.0.0
